.header {
  color: white;
  padding: 2rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-title {
  font-size: 5.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.header-subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.header-buttons {
  display: flex;
  gap: 1rem;
}

.header-button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cv-button,
.contact-button {
  background-color: #e40000;
}

.contact-button:hover,
.cv-button:hover {
  background-color: #b30101;
  border-color: #b30101;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .header-text {
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .header-buttons {
    justify-content: center;
  }
}