.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1a202c;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 150px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-img {
  height: 90px;
  width: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  height: 91px;
  padding: 0 20px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.nav-links:hover,
.nav-links.active {
  color: #fff;
  border-bottom: 4px solid #ac0000;
}