.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding-top: 80px;
}

.header {
  min-width: 430px;
  max-width: 430px;
  position: sticky;
  overflow-y: auto;
  padding-left: 160px;
}

.container {
  flex: auto; /* 60% del ancho */
  overflow-y: auto;
  height: calc(100vh - 80px); /* Altura total menos la altura de la navbar */
  padding-right: 160px;
  padding-left: 160px;
}